

To get receive our product catalog, please fill out the following form

<form action="/catalogsent" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="to" placeholder="name@example.com">
      <input type="submit" value="Go">
  </div>

</form>