
<center>
Our Signature cookies
<br/><br/>
 <div class="container">
   <div class="row">
    <% @cookiearray.each do |item| %>
      <div class="col-sm">
        <div class="card"">
        <img class=card-img-top id="productimage" src="<%=item.picture%>">
          <div class="card-body">
              <h5 class="card-title"><%=item.des%></h5>
          <p class="card-text">  <%=item.price%></p>
          </div>
        </div>
      </div>
    

  <%end%>
  </div>
</div>

