<center>

<div class="container">
  <h1>Welcome to Craftea Bakery!</h1>
  <br/> <br/> <br/> <br/>
  <div class="media">
  <img class="align-self-start mr-3" src="homemuffinimg.png" id="homeimg">
  <div class="media-body">
    <h2 class="mt-0">Muffins </h2>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div>

<br/><br/><br/>
<div class="media">
  <div class="media-body">
    <h2 class="mt-0 mb-1">Cookies </h2>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
  <img class="ml-3" src="chocolatechipcookie.jpg" alt="Generic placeholder image" id="homeimg">
</div>

  <br/> <br/> <br/>
  <div class="media">
  <img class="align-self-start mr-3" src="https://www.maxpixel.net/static/photo/1x/Sweet-Dessert-Cupcake-Sugar-Birthday-Cake-Pastry-3373605.png" alt="Generic placeholder image" id="homeimg">
  <div class="media-body">
    <h2 class="mt-0">Cakes </h2>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div>

</div>

