<center>

<div class="container">
  <h1>Welcome to Craftea Bakery!</h1>
  <br/> <br/> <br/> <br/>
  <div class="media">
    <img class="align-self-start mr-3" src="homemuffinimg.png" id="homeimg">
    <div class="media-body">
      <h2 class="mt-0">Muffins </h2>
      <p>
        Our special muffins are made with organic ingredients. It's good with coffee but also great with all type of teas!
      </p>
    </div>
  </div>

  <br/><br/><br/>
  <div class="media">
    <div class="media-body">
      <h2 class="mt-0 mb-1">Cookies </h2>
       <p> Grab a cup of milk and get our soft or hard cookies!
      </p>
    </div>
    <img class="ml-3" src="chocolatechipcookie.jpg" alt="Generic placeholder image" id="homeimg">
  </div>

  <br/> <br/> <br/>
  <div class="media">
    <img class="align-self-start mr-3" src="https://www.maxpixel.net/static/photo/1x/Sweet-Dessert-Cupcake-Sugar-Birthday-Cake-Pastry-3373605.png" alt="Generic placeholder image" id="homeimg">
    <div class="media-body">
      <h2 class="mt-0">Cakes </h2>
      <p>
        Our unique flavors are excellent for any ocassions! From birthday celebrations to a simple welcoming parties
      </p>
    </div>
  </div>

</div>

</center>